{% extends './base.html' %}

{% block body %}

  <div>
    <h1>New Book</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="{{ form.title.id_for_label }}">Title:</label>
      {{ form.title }}

      <label for="{{ form.summary.id_for_label }}">Summary:</label>
      {{ form.summary }}

      <label for="{{ form.page_number.id_for_label }}">Page Number</label>
      {{ form.page_number }}

      <label for="{{ form.start_date.id_for_label }}">Start Date:</label>
      {{ form.start_date }}

      <label for="{{ form.end_date.id_for_label }}">End Date:</label>
      {{ form.end_date }}

      <label for="{{ form.image.id_for_label }}">Image:</label>
      {{ form.image }}

      <input class="btn-fancy" type="submit" value="Add Book"/>
      <a class="btn-fancy" href="{% url 'book_list' %}">Back to Home</a>
    </form>
    
    <!--<form method="post">
      {% csrf_token %}
      <label for="{{ form.title.id_for_label }}">Title:</label>
      {{ form.title }}

      <label for="{{ form.summary.id_for_label }}">Summary:</label>
      {{ form.summary }}


      <input class="btn-fancy" type="submit" value="Add Book"/>
      <a class="btn-fancy" href="{% url 'book_list' %}">Back to Home</a>
    </form>
    -->
    
  </div>

{% endblock %}




<!-- <div>
  <h1>New Book</h1>

  <form action="/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="{{ form.title.id_for_label }}">Title:</label>
    {{ form.title }}

    <label for="{{ form.summary.id_for_label }}">Summary:</label>
    {{ form.summary }}

    <input type="file" name="image">
    <input type="submit" value="Add Book">

    <a class="btn-fancy" href="{% url 'book_list' %}">Back to Home</a>
  </form>
</div> -->