{% extends './base.html' %}

{% block head %}
  <style>
    body {
      /* All comments need to be done like this. */
      background-color: #f8f9fa;
    }
    
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }

    .edit-container {
      background-color: #ffffff;
      border: 1px solid #000000;
      padding: 15px;
      width: 300px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 10px;
      display: flex;
      flex-direction: column;
      /* Center both title and summary */
      align-items: center; 
    }

    .edit-container form {
      display: flex;
      flex-direction: column;
      /* Center the form contents */
      align-items: center; 
    }

    .edit-container label {
      margin-bottom: 5px;
      font-size: 16px; 
      color: #555; 
      /* Make label text bold */
      font-weight: bold; 
    }

    .edit-container input[type="text"],
    .edit-container textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      /* Border color */
      border: 1px solid #ddd;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 16px;
    }
    
    /* Disable resize for textarea */
    .edit-container textarea {
      resize: none; 
    }

    .edit-container input[type="submit"] {
      margin-top: 10px;
      padding: 5px;
      /* White background */
      background: #ffffff; 
      border: 1px solid #000;
      border-radius: 5px;
      cursor: pointer;
      color: #000;
      text-decoration: none;
      /* Pretty but not needed */
      transition: color 0.3s ease, text-decoration 0.3s ease;
    }

    .edit-container input[type="submit"]:hover {
      /* Soft blue text color on hover */
      color: #007bff; 
      /* Underline text on hover */
      text-decoration: underline; 
    }
  </style>
{% endblock %}

{% block body %}
  <div class="container">
    <h1>Edit Book</h1>

    <div class="edit-container">
      <form method="post">
        {% csrf_token %}
        <!--title-->
        <label for="{{ form.title.id_for_label }}">Title</label>
        <input type="text" name="{{ form.title.name }}" value="{{ book.title }}" maxlength="{{ form.title.field.max_length }}" required id="{{ form.title.id_for_label }}">

        <!--summary-->
        <label for="{{ form.summary.id_for_label }}">Summary</label>
        <textarea name="{{ form.summary.name }}" rows="4" maxlength="{{ form.summary.field.max_length }}" required id="{{ form.summary.id_for_label }}">{{ book.summary }}</textarea>


        <input type="submit" value="Save Changes"/>
      </form>
    </div>
  </div>
{% endblock %}
