{% extends './base.html' %}

{% block body %}
  <div>
    <h1>Edit Character</h1>
    <form method="post">
      {% csrf_token %}
      
      <!-- Dropdown menu -->
      <label for="{{ form.book.id_for_label }}">Book:</label>
      {{ form.book }}

      <!-- Name input -->
      <label for="{{ form.name.id_for_label }}">Name:</label>
      {{ form.name }}

      <!-- Attributes input -->
      <label for="{{ form.attributes.id_for_label }}">Attributes:</label>
      {{ form.attributes }}

      <!-- Description input -->
      <label for="{{ form.description.id_for_label }}">Description:</label>
      {{ form.description }}
      
      <!-- "Edit Character" button -->
      <input type="submit" class="btn-fancy" value="Edit Character"/>
      
      <!-- "Back to Home" button -->
      <a class="btn-fancy" href="{% url 'book_list' %}">Back to Home</a>
    </form>
  </div>
{% endblock %}
